
/* ==========================
   TYPOGRAPHY
   ========================== */

/* set font for everything */
body {
	font-family: 'Helvetica', sans-serif;
}

/* ==========================
   DESIGN
   ========================== */

.content-wrapper {
  	padding: 2em;
  	max-width: 960px;
  	margin-right: auto;
  	margin-left: auto;
}

.content-wrapper > * {
	max-width: 534px; /* estimated ~60ch width */;
	margin-right: auto;
  	margin-left: auto;
}

/* ==========================
   HOME PAGE
   ========================== */

/* make column widths same */
#homeNavTable tr th:nth-child(n+2) {
	width: 28%;
}

/* make button the entire table cell */
#homeNavTable  a {
	display: block;
}

/* color columns */
#homeNavTable tr:nth-child(n+3) td:nth-child(2) {
	background-color: #FDF2D0;
}
#homeNavTable tr:nth-child(n+3) td:nth-child(3) {
	background-color: #F7E5D6;
}
#homeNavTable tr:nth-child(n+3) td:nth-child(4) {
	background-color: #DAE2F1;
}

/* ==========================
   CODE REFERENCES
   ========================== */