
/* ==========================
   TYPOGRAPHY
   ========================== */

/* set font for everything */
body {
	font-family: 'Helvetica', sans-serif;
}

/* ==========================
   COLORS
   ========================== */
	:root {
	  --main: #ED1C24;
	  --rColor: #DAE2F1;
	  --pythonColor: #FDF2D0;
	  --d3Color: #F7E5D6;
	}

/* ==========================
   LAYOUT
   ========================== */

.content-wrapper {
  	padding: 2em;
  	max-width: 960px;
  	margin-right: auto;
  	margin-left: auto;
}

.content-wrapper > *:not(#homeNavTable) {
	max-width: 534px; /* estimated ~60ch width */
	margin-right: auto;
  	margin-left: auto;
}


/* ==========================
   PREVIOUS & NEXT BUTTONS (temporary, likely replace with bootstrap)
   ========================== */
.prevNext {
	padding-top: 25px;
}
.next {
   	float:right;
}
.next, .previous {
	background-color: var(--main);
	color: #ffffff;
  	text-decoration: none;
  	display: inline-block;
  	padding: 8px 16px;
}

/* ==========================
   NAVBAR (temporary, likely replace with bootstrap)
   ========================== */

body {margin:0;}

#navPlaceholder ul {
	list-style-type: none;
 	margin: 0;
 	padding: 0;
 	overflow: hidden;
  /*background-color: #333;*/
 	position: fixed;
 	top: 0;
 	width: 100%;
}

#navPlaceholder li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

#navPlaceholder li a:hover:not(.active) {
	color: var(--main);
}



/* ==========================
   HOME PAGE
   ========================== */

/* make column widths same */
#homeNavTable tr th:nth-child(1) {
	width: 15%;
}
#homeNavTable tr th:nth-child(2),
#homeNavTable tr th:nth-child(3),
#homeNavTable tr th:nth-child(4),
#homeNavTable tr th:nth-child(6) {
	width: 20%;
}
#homeNavTable tr th:nth-child(5) {
	width: 5%
}

/* make button the entire table cell */
#homeNavTable  a {
	display: block;
}

/* color columns */
#homeNavTable tr:nth-child(n+3) td:nth-child(2) {
	background-color: var(--rColor);
}
#homeNavTable tr:nth-child(n+3) td:nth-child(3) {
	background-color: var(--pythonColor);
}
#homeNavTable tr:nth-child(n+3) td:nth-child(4) {
	background-color: var(--d3Color);
}

/* format images */
#homeNavTable tr:nth-child(2) td {
	text-align: center;
	padding-bottom: 25px;
}
#homeNavTable img {
	width: 80px;
}

/* ==========================
   CODE REFERENCES
   ========================== */