
/* set font for everything */
body {
	font-family: 'Helvetica', sans-serif;
}
p {
	max-width: 60ch;
}

/* make column widths same */
#homeNavTable tr th:nth-child(n+2) {
	width: 28%;
}

/* make button the entire table cell */
#homeNavTable  a {
	display: block;
}

/* color columns */
#homeNavTable tr td:nth-child(2) {
	background-color: #FDF2D0;
}
#homeNavTable tr td:nth-child(3) {
	background-color: #F7E5D6;
}
#homeNavTable tr td:nth-child(4) {
	background-color: #DAE2F1;
}